@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    background-color: whitesmoke;
    margin: 30px 50px;
}

@media screen and (max-width: 800px) {
    body {
        margin: 30px 10px 30px 10px;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-gap: 50px;
}

/* ---------- Header Area and Main Nav ---------- */
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "title navigation";
    grid-gap: 20px;
}

.header h1 {
    grid-area: title;
    min-width: 175px;
    font-family: 'Slabo 27px', serif;
}

.navigation {
    grid-area: navigation;
    display: block;
    width: 100%;
/*    text-align: center;*/
}

nav ul {
    display: block;
    list-style-type: none;
    padding-top: 20px;
    float: right;
}

nav li {
    float: left;
    font-family: 'Dosis', sans-serif;
    font-size: 17;
}

nav li a {
    font-weight: bolder;
    padding: 8px 20px;
    text-decoration: none;
    color: gray;
}

nav li a:hover {
    color: black;
}

nav .active {
    color: #505F8F;
}

@media screen and (max-width: 635px) {
    /*Create vertical spacing*/
    .header li {
        margin-bottom: 5px;
    }
    /*Make all menu links full width*/
    .navigation ul li, li a {
        width: 100%;
    }
}

/*Hide dropdown links until they are needed*/
.navigation li ul {
    display: none;
}

.navigation li ul {
    padding: 0px;
}
/*Make dropdown links vertical*/
.navigation li ul li {
    display: block;
    float: none;
    
    padding: 2px 0px 0px 5px;
    
}
/*Display the dropdown on hover*/
.navigation ul li a:hover + .hidden, .hidden:hover {
    display: block;
    position: absolute;
    background-color: aliceblue;
}

/* ---------- Main Area ---------- */

.main {
    grid-area: main;
    column-count: 2;
    column-rule: solid lightgray 1px;
}

@media screen and (max-width : 800px){
    .main {
        column-count: 1;
    }
}

.main h2 {
    font-family: 'Dosis', sans-serif;
    margin-bottom: 10px;
}

.main h3 {
    font-style: italic;
    font-weight: 100;
    margin: 0px 0px 0px 10px;
}

.main p {
    font-family: 'Lato', sans-serif;
    line-height: 25px;
}

.main p img {
    width: 100%;
}

.attribution {
    font-size: 14px;
    color: gray;
}

/* ---------- Footer Area ---------- */
footer {
    border-top: solid lightgray 1px;
    grid-area: footer;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: #505F8F;
}

/* ---------- Contact Page ---------- */
#contactForm {
    column-count: 1;
}

input {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-family: 'Lato', sans-serif;
    font-size: 20;
}

input[type=submit] {
    margin-top: 1em;
    font-family: 'Dosis', sans-serif;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: vertical;
    font-family: 'Lato', sans-serif;
    font-size: 15;
}